<section id="contact" class="contact-section">
  <h2 class="section-title text-center">Get in Touch</h2>
  <p class="text-center mb-5">I'd love to hear from you! Reach out via any of the following:</p>

  <div class="contact-buttons d-flex justify-content-center flex-wrap">
    <!-- Email Button -->
    <a href="mailto:omkasane143@gmail.com" class="btn btn-email m-3">
      <i class="fa fa-envelope"></i> Email Me
    </a>

    <!-- Phone Call Button -->
    <a href="tel:+917498596025" class="btn btn-call m-3">
      <i class="fa fa-phone"></i> Call Me
    </a>

    <!-- LinkedIn Message Button -->
    <a href="https://www.linkedin.com/in/om-kasane-82a0b9284/" target="_blank" class="btn btn-linkedin m-3">
      <i class="fab fa-linkedin"></i> Message Me on LinkedIn
    </a>

    <!-- Twitter Button -->
    <a href="https://x.com/Om_Kasane" target="_blank" class="btn btn-twitter m-3">
      <i class="fab fa-twitter"></i> Tweet Me
    </a>

    <!-- Instagram Button -->
    <a href="https://www.instagram.com/_om__.k/" target="_blank" class="btn btn-instagram m-3">
      <i class="fab fa-instagram"></i> DM Me on Instagram
    </a>

    <!-- Google Map Button -->
    <a href="https://maps.app.goo.gl/nu63L4QAbMjHSifB7" target="_blank" class="btn btn-map m-3">
      <i class="fa fa-map-marker"></i> View My Location
    </a>
  </div>
</section>
