<!-- Background Video -->
<video autoplay muted loop id="background-video">
  <source src="bc.mp4" type="video/mp4" />
  Your browser does not support the video tag.
</video>

<!-- Navigation Bar -->
<nav class="nav bd-grid">
  <div>
    <a routerLink="/profile" class="nav__logo">OK</a>
  </div>
  <div class="nav__menu" [class.active]="isMenuOpen" id="nav-menu">
    <ul class="nav__list">
      <li class="nav__item"><a routerLink="/profile" routerLinkActive="active" class="nav__link">Home</a></li>
      <li class="nav__item"><a routerLink="/about" routerLinkActive="active" class="nav__link">About</a></li>
      <li class="nav__item"><a routerLink="/skills" routerLinkActive="active" class="nav__link">Skills</a></li>
      <li class="nav__item"><a routerLink="/projects" routerLinkActive="active" class="nav__link">Projects</a></li>
      <li class="nav__item"><a routerLink="/certifications" routerLinkActive="active" class="nav__link">Certifications</a></li>
      <li class="nav__item"><a routerLink="/contact" routerLinkActive="active" class="nav__link">Contact</a></li>
    </ul>
  </div>
  <div class="nav__toggle" id="nav-toggle" (click)="toggleMenu()">
    <i class="bx bx-menu"></i>
  </div>
</nav>

<!-- Dynamic Content -->
<router-outlet></router-outlet>


  
  <!-- Content Section -->
  <!--section id="profile">
    <app-profile></app-profile>
  </!section-->
  
  <section id="about">
    <app-about></app-about>
  </section>
  
  <section id="skills">
    <app-skill></app-skill>
  </section>
  
  <section id="projects">
    <app-project></app-project>
  </section>
  
  <section id="certifications">
    <app-certifications></app-certifications>
  </section>
  
  <section id="contact">
    <app-contact></app-contact>
  </section>
  