<div class="hero">
  <div class="hero-content">
    <div class="profile-photo">
      <img src="anime.jpg" alt="Om Kasane" />
    </div>
    <h1 class="animate-text">Hi, I'm <span class="highlight">Om..</span></h1>
    <p class="animate-text">
      Aspiring <span class="highlight">Software Developer</span> specializing in
      creating innovative applications.
    </p>

    <!-- Call to Action Buttons -->
    <a class="btn btn-primary animate-button" href="#projects">View My Work</a>
    <a class="btn btn-secondary animate-button" href="#contact">Contact Me</a>
    <a
      class="btn btn-primary animate-button"
      href="https://drive.google.com/file/d/1vKMP__1XMQYkDAQWCkF0RQyp-iDcDztp/view?usp=drive_link"
      target="_blank"
      rel="noopener noreferrer"
      >View CV</a
    >
  </div>
</div>
